.front {
    height: auto;
    background-image: url('../images/contacts_front.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
}

.contact-info {
    width: auto;
    padding: 4em;
    text-align: left;
    font-size: 18px;
}
.contact-us-line{
    font-size: 50px;
    font-weight: bolder;
    margin: 0;
}
.phone-address-label{
    font-size: 30px;
}

.map-embeded-info {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 300px; /* Adjust this to your desired div height */
    width: 33%;
    border: 3px solid #24314c; /* Optional: to visualize the div */
    margin: 10px;
    margin-left: 100px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

iframe{
    width: 20em;
    height: 9em;
}

body {
    font-family: "Kantumruy Pro", sans-serif;
    font-size: 30px;
    margin: 0; 
    background-color: #fdf2f1;
    overflow-x: hidden;
}