.front {
    height: auto;
    background-image: url('../images/contacts_front.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
}
.contact-info {
    background-color: #E3C3C1;
    width: 15%;
    border: 10px solid #0e1627;
    padding: 40px;
    /* margin-left: 400px;
    margin-top: 30px; */
    text-align: center;
}
.map-embeded-info{
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
iframe{
    width: 600px;
    height: 300px;
}
body {
    font-family: "Kantumruy Pro", sans-serif;
    font-size: 30px;
    margin: 0; 
    background-color: #fdf2f1;
    overflow-x: hidden;
}