footer {
    background-color: #24314c;
    color: white;
    bottom: 0;
    width: 100vw;
    font-size: 16px;
}

footer * {
    box-sizing: border-box;
    border: none;
    outline: none;
}

.row {
    padding: 2em 2em;
}

.row.primary {
    display: grid;
    grid-template-columns: 4fr 2fr 2fr;
    align-items: stretch;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    margin-bottom: 1em; 
}

.about h1 {
    width: 100%;
    text-align: left;
    font-size: 4em;
    margin: 15px 0;
    white-space: nowrap;
}

/*formats the quick links */
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

/* controls spacing between the quick links */
li:not(:first-child) {
    margin-top: 0.8em;
}

ul li a {       /* controls the color of the quick links */
    color: white;
    text-decoration: none;
    font-weight: 400;
}

ul li a:hover, .social i:hover {
    color: #bd8e89;
}

.about p {
    font-weight: 400; 
    line-height: 2;
    margin: 0;
}

div.social {
    display: flex;
    gap: 0.5em; 
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
}

.social i {
    color: white;
}

.copyright {
    padding: 0.3em 1em;
    background-color: #25262e;
}

.copyright p {
    font-size: 0.9em;
    text-align: right;
}

@media screen and (max-width: 450px) {
    .row.primary {
        grid-template-columns: 1fr;
    }
}