.front {
    height: 100vh;
    background-image: url('../images/front_view_shop.jpg');
    transition: background-image 1s ease; 
}

.mainpg_title {font-size: clamp(70px, 20vw, 150px); }

.container {
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 60px 200px 0;
    color: #24314c; 
}

.responsive-img {
    max-width: 25%;
    height: auto;
    border-radius: 20px;
}

.info {
    flex: 1;
    max-width: 70%;
}

.info h1 {
    color: #24314c; 
}

.container .button {
    display: inline-block;
    background-color: #24314c;
    color: white;
    padding: 7px 20px;
    text-decoration: none;
    border-radius: 18px;
    font-size: 18px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.container .button:hover {background-color: #090d15;}

.services {
    display: grid;
    margin-top: 50px;
    grid-template-rows: repeat(2, 1fr); 
    grid-template-columns: repeat(5, 1fr);
}

.services .s_abt {
    position: relative;
    grid-column: 1 / -1;
    padding: 10px 120px 20px 120px;
    color: #ffffff;
    overflow: hidden;
}

.services .s_abt::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    background-image: url('../images/pink_flowers.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}

.services .text div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    text-decoration: none; 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
}

.services .text div img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.services .text div span {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 1;
}

.services a { text-decoration: none; }

.services .text div:hover {
    background-color: rgba(0, 0, 0, 0.3); 
    transition: background-color 0.3s ease, transform 0.3s ease;
}

@media screen and (max-width: 1150px) {
    .container {
        flex-direction: column;
        text-align: center;
        gap: 10px; 
        padding: 1em 0; 
    }

    .responsive-img {width: 100%;}
}

@media screen and (max-width: 950px) {    
    .services {
        grid-template-areas:
            "s_abt"
            "mani"
            "pedi"
            "combo"
            "addons"
            "wax";
        grid-template-columns: 1fr;
        grid-template-rows: auto repeat(5, 200px);
    }

    .mani img, .pedi img, .combo img .addons img, .wax img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .services>div.s_abt {padding: 10px 50px;}
}